* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #151618;
}

.container {
    margin: auto;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 48px;
    margin: 10px;
    color: whitesmoke;
}

.choices {
    margin-top: 30px;
}

button {
    font-size: 74px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    border: none;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.2);
}

.result {
    margin: 25px;
    color: whitesmoke;
}

.score-container {
  color: whitesmoke;
  padding: 3px;
}

.score-player {
  color: green;
}

.score-computer {
  color: red;
}

.score-ties {
  color: yellow;
}

.score-container .reset-button,
.score-container .auto-play {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: whitesmoke;
  background-color: orange;
}
